#logo-banner {
  div {
    img {
      display: none;
    }
  }
}

.focus-pics {
  align-items: center;

  .focus {
    text-align: center;
    position: relative;

    .pic-h1 {
      font-family: "Monad", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
      color: $white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 500;
      font-size: 48px;
    }
    img {
      // padding: 0 0 15px 0;
      display: block;
      margin: 0 auto 0 auto;
      width: calc(100vw - 30px);
      height: auto;
    }
  }
}
