header{
  position: absolute;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 600;
  .nav-bar{
    background: $darkgrey;
    height: 71px;
    .top-logo{
      height: 50px;
      margin: 11px 0 10px 10px;
    }
    #hamburger{ //30px 50px koos raamiga on ikooni kõrgus
      height: 50px;
      margin: 11px 10px 10px 0;
      float: right;
    }


  }
  nav{
    .top-menu{
      background:$white;
      text-align: center;
      opacity: 0.80;
      padding: 15px 0 5px 0;
      li{
        padding: 0 0 10px 0;
        list-style-type: none;
        a{
          font-family: "Monad", "Roboto", "Helvetica Neue", Arial, "Noto Sans";
          font-size: 16px;
          color: $darkgrey;
          text-decoration: none;
          list-style-type: none;
          &:hover{
            color: $green;
          }
          
        }
      }
    }
  }
  .hidden{
    display: none;
  }

}

.cross{
    #bar1{
      transform-origin: center;
      transform: translate(-9.9px, -9.9px) rotate(-45deg);
      transition-duration: 1.3s;
    }
    #bar2{
      transform-origin: center;
      transform: rotate(45deg);
      transition-duration: 1.5s;
    }
    #bar3 {
      transform-origin: center;
      transform: translate(9.9px, 9.9px) rotate(-45deg);
      transition-duration: 1.7s;
    }
}

.nocross{
  #bar1{
    transform-origin: center;
    transform: translate(0px, 0px) rotate(0deg);
    transition-duration: 1.1s;
  }
  #bar2{
    transform-origin: center;
    transform: rotate(0deg);
    transition-duration: 1.7s;
  }
  #bar3 {
    transform-origin: center;
    transform: translate(0px, 0px) rotate(0deg);
    transition-duration: 1s;
  }
}
