//alates suurus 1140
//FRONT PAGE


@media screen and (min-width: 1024px){
  .main-container{//see on sama div, mis focus-pcs allpool
    align-items: center;
    a{
      padding:0 0 0 0;
      border: solid 1px blue;
    }
  }


    #logo-banner {
        div {
          img {
            display: block;
          }
        }
      }
      
      .focus-pics {
        display: flex;
      
        .focus {
          text-align: left;//see on default
          position: relative;//seda on vaja
      
          .pic-h1 {
            font-family: "Monad", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
            color: $white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            z-index: 500;
            font-size: 48px;
          }
          img {
            // padding: 0 0 15px 0;
            display: flex;
            margin: 0 auto 0 auto;
            width: 75%;
            height: auto;
            border: solid 1px red;
          }
        }
      }
}
