.page-contents {
  h1,
  h3,
  p, 
  a {
    color: $white;
  }
  h1{
      font-family: "Monad", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
      font-size: 36px;
  }
  h3{
      padding: 25px 0 0 0;
      font-size: 18px;
      font-family: "Monad", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  }

  p{
      text-align: justify;
  }
  a{
      text-decoration: none;
      padding: 30px 0 0 5px;
      &:hover{
          color:$lilac
      }
  }

}
