* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

header {
  position: absolute;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 600;
}

header .nav-bar {
  background: #4A494D;
  height: 71px;
}

header .nav-bar .top-logo {
  height: 50px;
  margin: 11px 0 10px 10px;
}

header .nav-bar #hamburger {
  height: 50px;
  margin: 11px 10px 10px 0;
  float: right;
}

header nav .top-menu {
  background: #F3F4F4;
  text-align: center;
  opacity: 0.80;
  padding: 15px 0 5px 0;
}

header nav .top-menu li {
  padding: 0 0 10px 0;
  list-style-type: none;
}

header nav .top-menu li a {
  font-family: "Monad", "Roboto", "Helvetica Neue", Arial, "Noto Sans";
  font-size: 16px;
  color: #4A494D;
  text-decoration: none;
  list-style-type: none;
}

header nav .top-menu li a:hover {
  color: #8A9A9A;
}

header .hidden {
  display: none;
}

.cross #bar1 {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-9.9px, -9.9px) rotate(-45deg);
          transform: translate(-9.9px, -9.9px) rotate(-45deg);
  -webkit-transition-duration: 1.3s;
          transition-duration: 1.3s;
}

.cross #bar2 {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.cross #bar3 {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(9.9px, 9.9px) rotate(-45deg);
          transform: translate(9.9px, 9.9px) rotate(-45deg);
  -webkit-transition-duration: 1.7s;
          transition-duration: 1.7s;
}

.nocross #bar1 {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(0px, 0px) rotate(0deg);
          transform: translate(0px, 0px) rotate(0deg);
  -webkit-transition-duration: 1.1s;
          transition-duration: 1.1s;
}

.nocross #bar2 {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition-duration: 1.7s;
          transition-duration: 1.7s;
}

.nocross #bar3 {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(0px, 0px) rotate(0deg);
          transform: translate(0px, 0px) rotate(0deg);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#logo-banner div img {
  display: none;
}

.focus-pics {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.focus-pics .focus {
  text-align: center;
  position: relative;
}

.focus-pics .focus .pic-h1 {
  font-family: "Monad", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  color: #F3F4F4;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  z-index: 500;
  font-size: 48px;
}

.focus-pics .focus img {
  display: block;
  margin: 0 auto 0 auto;
  width: calc(100vw - 30px);
  height: auto;
}

.page-contents h1,
.page-contents h3,
.page-contents p,
.page-contents a {
  color: #F3F4F4;
}

.page-contents h1 {
  font-family: "Monad", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 36px;
}

.page-contents h3 {
  padding: 25px 0 0 0;
  font-size: 18px;
  font-family: "Monad", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.page-contents p {
  text-align: justify;
}

.page-contents a {
  text-decoration: none;
  padding: 30px 0 0 5px;
}

.page-contents a:hover {
  color: #948D99;
}

body {
  background: #4A494D;
}

.main-container {
  margin: 75px 15px 15px 15px;
}

.main-container h1,
.main-container h3,
.main-container p,
.main-container a {
  color: #F3F4F4;
}

.main-container h1 {
  font-family: "Monad", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 36px;
}

.main-container h3 {
  padding: 25px 0 0 0;
  font-size: 18px;
  font-family: "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.main-container .featured-img {
  display: block;
  margin: 0 auto 0 auto;
  width: calc(100vw - 30px);
}

.main-container p {
  text-align: justify;
}

.main-container a {
  text-decoration: none;
  padding: 30px 0 0 5px;
}

.main-container a:hover {
  color: #948D99;
}

@media screen and (min-width: 1024px) {
  .main-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-container a {
    padding: 0 0 0 0;
    border: solid 1px blue;
  }
  #logo-banner div img {
    display: block;
  }
  .focus-pics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .focus-pics .focus {
    text-align: left;
    position: relative;
  }
  .focus-pics .focus .pic-h1 {
    font-family: "Monad", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color: #F3F4F4;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    z-index: 500;
    font-size: 48px;
  }
  .focus-pics .focus img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 0 auto;
    width: 75%;
    height: auto;
    border: solid 1px red;
  }
}
/*# sourceMappingURL=style.css.map */