* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
//importing other sheets

@import "colors";
@import "header";
@import "front-page";
@import "page";



body {
  background: $darkgrey;
}

.main-container {
  margin: 75px 15px 15px 15px;
  h1,
  h3,
  p,
  a {
    color: $white;
  }
  h1 {
    font-family: "Monad", "Roboto", "Helvetica Neue", Arial, "Noto Sans",
      sans-serif;
    font-size: 36px;
  }
  h3 {
    padding: 25px 0 0 0;
    font-size: 18px;
    font-family: "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  }
  .featured-img{
    display: block;
    margin: 0 auto 0 auto;
    width: calc(100vw - 30px);
  }


  p {
    text-align: justify;
  }
  a {
    text-decoration: none;
    padding: 30px 0 0 5px;
    &:hover {
      color: $lilac;
    }
  }
}

//RESPONSIVE

@import "monitor";

// //function
// @mixin flexCentre($direction) {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-direction: $direction;
// }

// //include is to use functions can also add a paramaeter
// header {
//   @include flexCentre(row);
//   background: $lilac;
//   width: 100vw - 10px;
//   &:hover{
//     background: $green;
//   }
// }
// //copy whole styleset from another element
// .focus-pics{
//   @extend header;
//   @include flexCentre(column-reverse);
//   //can also override what was defined above
//   background: $darkgrey;
// }

// @import "woocommerce";

// .main-container {
//   width: 100%;
//   margin: 71px auto 0 auto;
//   padding:0 15px 0 15px;
// }

// @font-face {
//   font-family: "Monad";
//   src: url("fonts/monad-webfont.eot");
//   src: url("fonts/monad-webfont.eot?#iefix") format("embedded-opentype"),
//     url("fonts/monad-webfont.woff2") format("woff2"),
//     url("fonts/monad-webfont.woff") format("woff"),
//     url("fonts/monad-webfont.ttf") format("truetype"),
//     url("fonts/monad-webfont.svg#monadregular") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }

// //selle võib ka erladi faili panna kui tahad

// @supports ((position: -webkit-sticky) or (position: sticky)) {
//   .sticky-top {
//     position: -webkit-sticky;
//     position: sticky;
//     top: 0;
//     z-index: 1020;
//   }
// }
